html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 3px;
}
.link-navs {
  border-radius: 10px;
   padding: 2px 10px 2px 10px;
   transition: 300ms;
   color:#9da5f0;
   background-color:transparent !important;
   font-weight: 100 !important;

}
.link-navs:hover {
   color:#9da5f0;
   background-color: #252739 !important;

}
.link-navs-dropdown {
  color:#9da5f0 !important;
  background-color: #252739 !important;
  border: none !important;
}
.link-navs-dd-text:hover {
    background-color:black !important;
}


.job-card-image {
  width: 100%;
  height: auto;
  z-index: -1;
}

.smooth-hover {
 transition:500ms;
}
.socials-text-tiktok:hover {
  color: #ff0050;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-linkedin:hover {
  color: #0077b5;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-instagram:hover {
  color: #e1306c;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-discord:hover {
  color: #7289da;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-twitter:hover {
  color: #1293d2;
  cursor: pointer;
  transition: 400ms;
}
.diagonal-button {
  font-size: 70px;
  background-color: #4559e9;
  color: white;
  border-radius: 50%;
  font-weight: lighter;
  padding: 1.2rem;
  transition:400ms;
}
.diagonal-button:hover {
  background-color: #6e7ce8;

}

.audio-player {
  width: 90%;
  display: grid;
  grid-template-rows: 10px auto;
}
.audio-player .timeline {
  margin-top: 20px;
  background: #a7b2ff;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.audio-player .timeline .progress {
  position: absolute;
  top: -8px;
  background-image: url("/Player-Fill-Track.png");
  background-size: 9.5ch;
  background-color: #29368c;
  height: 29px;
  width: 0%;
  transition: 0.5s;
}

.audio-player .timeline .thumb {
  position: absolute;
  top: -8px;
  border-radius: 100%;
  background-color: yellow;
  height: 25px;
  width: 25px;
  transition: 0.5s;
}

.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  height: 90px;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player .controls .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.gradient-title {
  background: linear-gradient(90.85deg, #8692E2 21.85%, rgba(52, 193, 225, 0.495) 113.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cs-help {
  background: linear-gradient(273.54deg, #FFC4AA -54.24%, rgba(251, 152, 69, 0.838636) 4.07%, rgba(253, 183, 119, 0.8) 18.03%, rgba(253, 180, 116, 0.8) 31.16%, rgba(253, 180, 116, 0.8) 31.17%, rgba(253, 167, 102, 0.8) 91.13%);
}
.faq-button {
  background-color:#1b2341;
  border:none;
  text-decoration: none;
  border-radius: 10px;
  padding:3px;
}

.development-heading {
  background: linear-gradient(90deg, #4458E4 5.11%, #8290FF 58.28%, #2A3896 116.07%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.no-hover:hover {
  text-decoration:none;
}
