html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 5px;
}
.link-navs {
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  transition: 300ms;
  color: #9da5f0;
  background-color: transparent !important;
  font-weight: 100 !important;
}
.link-navs:hover {
  color: #9da5f0;
  background-color: #252739 !important;
}
.link-navs-dropdown {
  color: #9da5f0 !important;
  background-color: #252739 !important;
  border: none !important;
}
.link-navs-dd-text:hover {
  background-color: black !important;
}

.job-card-image {
  width: 100%;
  height: auto;
  z-index: -1;
}

.smooth-hover {
  transition: 500ms;
}
.socials-text-tiktok:hover {
  color: #ff0050;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-linkedin:hover {
  color: #0077b5;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-instagram:hover {
  color: #e1306c;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-discord:hover {
  color: #7289da;
  cursor: pointer;
  transition: 400ms;
}
.socials-text-twitter:hover {
  color: #1293d2;
  cursor: pointer;
  transition: 400ms;
}
.diagonal-button {
  font-size: 70px;
  background-color: #4559e9;
  color: white;
  border-radius: 50%;
  font-weight: lighter;
  padding: 1.2rem;
  transition: 400ms;
}
.diagonal-button:hover {
  background-color: #6e7ce8;
}

.audio-player {
  width: 90%;
  display: grid;
  grid-template-rows: 10px auto;
}
.audio-player .timeline {
  margin-top: 20px;
  background: #a7b2ff;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.audio-player .timeline .progress {
  position: absolute;
  top: -8px;
  background-image: url("/Player-Fill-Track.png");
  background-size: 9.5ch;
  background-color: #29368c;
  height: 29px;
  width: 0%;
  transition: 0.5s;
}

.audio-player .timeline .thumb {
  position: absolute;
  top: -8px;
  border-radius: 100%;
  background-color: yellow;
  height: 25px;
  width: 25px;
  transition: 0.5s;
}

.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  height: 90px;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player .controls .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.gradient-title {
  background: linear-gradient(90.58deg, #5164EC -4.52%, rgba(67, 124, 240, 0.9188) 22.72%, rgba(156, 193, 250, 0.886457) 38.78%, rgba(49, 114, 188, 0.863) 50.34%, rgba(20, 116, 205, 0.712) 62.16%, #4559E9 84.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cs-help {
  background: linear-gradient(
    273.54deg,
    #ffc4aa -54.24%,
    rgba(251, 152, 69, 0.838636) 4.07%,
    rgba(253, 183, 119, 0.8) 18.03%,
    rgba(253, 180, 116, 0.8) 31.16%,
    rgba(253, 180, 116, 0.8) 31.17%,
    rgba(253, 167, 102, 0.8) 91.13%
  );
}
.faq-button {
  background-color: #1b2341;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
}

.development-heading {
  background: linear-gradient(
    90deg,
    #4458e4 5.11%,
    #8290ff 58.28%,
    #2a3896 116.07%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.no-hover:hover {
  text-decoration: none;
}

.announcements-container {
  width:800px;
  margin:auto;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 75px;
}
.announcements {
list-style: none;

}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.pre {
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 12px;
  overflow: auto;
}

.code_block {
  padding: 20px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
}

.file {
  padding: 2px 4px;
  text-decoration: none;
}

.file a {
  color: inherit;
}

.file:hover {
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.bookmark {
  display: block;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
  .code {
    background-color: rgb(15, 8, 28);
  }
  .file:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 2px;
  }
  .pre {
    background-color: rgb(15, 8, 28);
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 40px !important;
  background-color:#0D132F;
  border-radius:15px;
  width:60%;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

.postTitle {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.postTitle a {
  color: inherit;
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
  FONT-SIZE:.8rem;
}
.announcementContent {
  width:600px;
  margin:auto;
  margin-top: 2rem;
  margin-bottom:2rem;
}
.goHome {
 margin-top:20px !important;
}
.job-listing {
  display:flex;
}
.announcementsTextC {
  margin-bottom:1.5rem;
}
.curriculmbg {
  background-size:cover;
  background-image: url("/curriculm-landing.png");
height:75vh;
  
}

.linkedin {
  cursor:pointer;
  transition:400ms !important;
}
.linkedin:hover {
  color: rgb(145, 145, 253) !important;
  transition:400ms !important;

  
}