html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 10px;
}

.job-card-image {
  width: 100%;
  height: auto;
  z-index: -1;
}

.socials-text-tiktok:hover {
color:#ff0050;
cursor:pointer;
transition:400ms;
}
.socials-text-linkedin:hover {
  color:#0077b5;
  cursor:pointer;
  transition:400ms;
}
.socials-text-instagram:hover {
  color: #E1306C;
  cursor:pointer;
  transition:400ms;
}
.socials-text-discord:hover{
  color:#7289da;
  cursor:pointer;
  transition:400ms;
}
.socials-text-twitter:hover {
  color:#1293d2;
  cursor:pointer;
  transition:400ms;
}